body{
    background-color: rgb(164, 164, 243);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    color: whitesmoke;
    text-align: center;
}
section{
    background-color: black;
    border-radius: 10px;
    padding: 100px;
    margin: auto;
    width: 350px;
    height: 350px;
    box-shadow: 5px 5px 15px 5px rgba(1, 1, 20, 0.644);
    color:whitesmoke;
    display: block;
    align-content: center;
    justify-content: center;
    align-items: center
    
}
#msg{
    margin-top: -15%;
}
#foto{
    padding:40px;
    justify-content: end;
    align-items: flex-end;
    align-content: center;
    display: block;
    margin-top: 2%;
    margin: auto;
    
}
footer{
    color: whitesmoke;
    align-content: center;
    text-align: center;
    font-size: 25px;
    font-style: italic;
    background-color: rgb(5, 5, 5);
    box-shadow: 5px 5px 15px 5px rgba(1, 1, 20, 0.644);
    border-radius: 10px;
    margin: 15px;
    padding: auto;
    height: 50px;
}